.advantages__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__header {
  text-align: center;
  outline-offset: -5px;
  background-color: $body_color;
  color: $base-color;
  padding: 38px 18px;
}

.advantages__item--background-blue {
  background-color: $main-color;
  color: $body_color;
  text-align: center;
}


.advantages__item {

  list-style: none;
}
.advantages__item--two{
  padding: 41px 24px;


}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: 0;
}

.advantages__item--illustrated{
  padding: 20px 25px;
}

.advantages__item--grey {
  background-color: #EEEEEE;
  padding: 0;
}

.advantages__item--image{
  order: 2;
  background: url("../img/house.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 260px;
}

.advantages__item--image--two{

  background: url("../img/bridge.jpg");

}
.advantages__item--wrap{
  padding: 37px 18px;
}

@media (min-width: $tablet-width) {
  br {
    display: none;
  }
  .advantages__item--background-blue {
    display: flex;
  }

  .advantages__item--grey {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .advantages__list--illustrated {

    display: flex;
    text-align: center;
  }


  .advantages__item--background-blue--two {

    display: flex;

    flex-direction: row-reverse;
  }
  .advantages__item--image{
    order: 2;
    background: url("../img/house.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 75%;
    height: 256px;
  }
  .advantages__item--image--two{

    background: url("../img/bridge.jpg");

  }
  .advantages__item--wrap{
    width: 256px;
  }

}

@media(min-width: $desktop-width) {
  .advantages__item--wrap{
    width: 400px;
  }
  .advantages__item--image{
    width: 800px;
  }
  }

