.advantages__description {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;


  text-transform: uppercase;
}

.advantages__header {
  text-align: center;
  outline-offset: -5px;
  background-color: $body_color;
  color: $base-color;
  padding: 20px 25px;

}

.advantages__item--background-blue {
  background-color: $main-color;
  color: $body_color;
  text-align: center;


  @media (min-width: $tablet-width) {
    display: flex;
  }
  @media(min-width: $desktop-width) {
    display: flex;
  }
}

.advantages__item--background-blue--two {
  @media (min-width: $tablet-width) {
    display: flex;

    flex-direction: row-reverse;
  }
  @media(min-width: $desktop-width) {
    display: flex;

    flex-direction: row-reverse;
  }
}


.advantages {

  @media (min-width: $tablet-width) {}

  @media(min-width: $desktop-width) {}

}




.advantages__item {
  padding: 5px 10px;
  list-style: none;

  @media (min-width: $tablet-width) {}


  @media(min-width: $desktop-width) {

  }

}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: 0;

  @media (min-width: $tablet-width) {}

  @media(min-width: $desktop-width) {

  }

}

.advantages__list--illustrated {
  @media (min-width: $tablet-width) {
    display: flex;
    text-align: center;

  }
  @media(min-width: $desktop-width) {
    display: flex;
    text-align: center;
  }
}

.advantages__item--grey {
  background-color: #EEEEEE;


  @media (min-width: $tablet-width) {
    display: flex;
    text-align: center;
justify-content: space-between;
  }
  @media(min-width: $desktop-width) {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
