.advantages__title{
  background-color: $body_color;
font-family: "PT Sans", sans-serif;
font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $base-color;
  background-color: $main-color;
  text-transform: uppercase;
}

