.appointment__title{
  text-align: center;
}

.appointment__description{
  display: flex;
  flex-direction: column;
}
.appointment__field{
  padding: 16px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}
.appointment__form{
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .appointment{
    width: 295px;
  }
}

  @media(min-width: $desktop-width) {
    .appointment{
      width: 430px;
    }
  }
