.benefits {
  display: flex;
  background-color: $body_color;
  color: $base-color;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.benefits__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.benefits__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
}

.benefits__foto {
  width: 280px;
  height: 177px;
}

@media (min-width: $tablet-width) {
  .benefits__description {
    padding-bottom: 50px;
  }

  .benefits__foto {

    width: 648px;
    height: 500px;
  }

  .benefits {
    padding: 60px;
    text-align: center;
  }

  .benefits__br {
    display: inline;
  }
}

@media(min-width: $desktop-width) {
  .bbenefits__foto {
    width: 600px;
  }
}
