.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $body_color;
  background-color: $main-color;
  text-transform: uppercase;

  list-style: none;
  border: none;
}
