
.contacts__title{
  text-align: center;
}
.contacts__description{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.contacts__field{
  padding: 16px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  padding-right: 75px;
  height: 58px;
  padding: 0 20px;
  outline: none;
}
.contacts__field-phone{
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: right 50%;
}

.contacts__field-mail{
  background-image: url("../img/mail.png");
  background-repeat: no-repeat;
  background-position: right 50%;
}

@media (min-width: $tablet-width) {
  .contacts{

  }
  .contacts__field{
    margin: 0;
  }
}


