.main-nav {

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $body_color;
  text-transform: uppercase;
  height: 156px;
  z-index: 7;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
width: 100%;
  position: absolute;
  top: 0;
}

.main-nav__list a {
  color: #FFFFFF;
  text-decoration: none;
}

.main-nav--closed .main-nav__wrapper{
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0#81B3D2;
  cursor: pointer;
  border: none;
}

.main-nav__toggle{
  position: absolute;
  right: 0;
  border: none;
  padding: 0;
}


.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#81B3D2, 30%);
  box-shadow:
    0 8px 0 0 fade(#81B3D2 30%),
    0 16px 0 0 fade(#81B3D2, 30%);
}

.main-nav--closed{
  height: 56px;
}
.main-nav--opened{
  z-index: 10;
}
.main-nav--opened .main-nav__toggle {


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
  right: 19px;
  width: 27px;
  height: 4px;
    background-color: #FFFFFF;
    z-index: 10;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

@media (min-width: $tablet-width) {
.main-nav--closed .main-nav__wrapper{
  display: flex;
}

  .main-nav{
    background-color: #FFFFFF;
    color: #000000;
    min-height: 56px;
    }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .main-nav__toggle {
    display: none;
  }
  .main-nav__list a {
color: #000000;
  }

}

@media (min-width: $desktop-width) {

  .main-nav{
    background-color: #FFFFFF;
    color: #000000;
    }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list a {
    color: #000000;
      }
}

