.main-footer {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $base_color;
  text-transform: uppercase;
  text-align: center;



}

.main-footer__button {
  font-size: 50px;
  border-color: $main-color;
}

.main-footer__copyright {
  display: flex;
  padding-top: 30px;
}

.main-footer__logo{
position: relative;
top:-5px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-footer__copyright {
    display: flex;
padding: 0;
  }
}

@media(min-width: $desktop-width) {}
