.main-header {
  display: flex;
  flex-direction: column;

  color: #FFFFFF;
 height: 56px;
}

.main-header__logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  outline-offset: -5px;

  position: absolute;

  z-index: 9;
  transform: translateX(-50%);
left: 50%;
}




@media (min-width:$tablet-width) {
  .main-header {
    background-color: #FFFFFF;
    color: #000000;
    position: relative;
    justify-content: center;
  }

  .main-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
z-index: 10;
    margin: 0 auto;
  }
}


@media (min-width: $desktop-width) {

}
