.modal__title{
  text-align: center;
}
.modal__list{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
}
.modal__item__control__label{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
}
.modal__group{
  margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}
.modal__review{
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}
.modal__item__control--check {
  position: relative;
  display: block;
  padding-left: 36px;
}
.modal__item__control__mark--check  {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.modal__item__control{


  align-items: center;
  display: flex;
  justify-content: space-between;

}
.modal__item{
  margin-bottom: 16px;
  display: flex;
}
.modal__item:last-child{
  margin-bottom: 0;
}
.modal__item__control__mark {
  display: inline-flex;
  background-color: #F2F2F2;
    width: 46px;
    height: 46px;
  border-radius: 50%;
}




@media (min-width: $tablet-width) {
  .modal__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: $desktop-width) {
  .modal__list{
  display: flex;
  justify-content: space-between;
  }
}
