.page {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.page__body {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: $lightgrey;
  color: #333333;
}


