.product {
  background-color: $body_color;
  color: $base-color;
  list-style: none;
}

.product__card {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
}

.product__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.product__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.product-counter {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 14px;
}

.product__item-image--road {}

.product__item-image--plant {

  height: 280px;
  width: 280px;
}

.product__item-image--north {
  height: 280px;
  width: 280px;
}

.product__item-image--bridge {

  height: 280px;
  width: 280px;

}

.product__item {
  list-style: none;
}
.product-counter__icon{
  display: flex;
  align-items: center;
}
.product-counter__icon-like{
  position: relative;
  top: -5px;
}

@media (min-width: $tablet-width) {
  .product__list {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 22px 20px 15px;
  }
  .product__list--north{
border-color: #EAEAEA;
  }

  .product-counter {
    text-align: right;
  }

  .product__item {
    width: 50%;
  }

  .product__item--active {
    width: 100%;

  }

  .product__card {
    padding: 60px;
  }

  .product__item-image--road {
    width: 648px;
    height: 400px;
  }

  .product__item-image--plant {

    height: 267px;
    width: 324px;
  }

  .product__item-image--north {
    height: 267px;
    width: 324px;
  }

  .product__item-image--bridge {

    height: 267px;
    width: 324px;

  }

}

@media(min-width: $desktop-width) {

  .product__item {
    width: 33%;
  }

  .product__item--active {
    width: 100%;

  }

  .product__card {
    padding: 0;
  }

  .product__item-image--road {


    width: 100%;
  }

  .product__item-image--plant {

    width: 400px;
  }

  .product__item-image--north {
    width: 400px;
  }

  .product__item-image--bridge {


    width: 400px;

  }
  .product-counter__icon-like{
fill:black;
  }



}
