.product {

  margin: 100px auto;
  background-color: $body_color;
  color: $base-color;
  list-style: none;

  @media (min-width: $tablet-width) {}

  @media(min-width: $desktop-width) {}

}

.product__card {

  margin: 0;
  padding: 20px;
}
.product__item-image--road{
  background-image: url("../img/road-mobile-desktop.ipg");
  width: 648px;
  height: 400px;
}

.product__item {
  list-style: none;

  @media (min-width: $tablet-width) {

  }


  @media(min-width: $desktop-width) {

  }
}
.product__list--foto{
  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  @media(min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
