.site-list__item {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  text-align: center;
}

.site-list a {

  display: block;
  padding-top: 17;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81B3D2;
  border-top: 1px solid  rgba(1, 1, 1, 0.20);;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20) inset;
  padding-top: 17px;
}


@media (min-width: $tablet-width) {
  .site-list {
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
  }

  .site-list__item {
   width: 25%;
   border-bottom: none;
  }
.site-list__item:nth-child(2){
  text-align: left;
  margin-right: 20%;
}
  .site-list__item--form {
    text-align: right;
  }

  .site-list__item--academ {}

  .site-list a {
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  }

}

@media (min-width: $desktop-width) {
  .site-list {


  }
  .site-list__item:nth-child(2){
margin-right: 0;
  }
  .site-list__item {
    border-bottom: none;


  }



}

