.social__list{
  @include list-reset;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  justify-content: center;
}

@media (min-width: $desktop-width) {
  .social__list{
    display: flex;
    flex-wrap: wrap;
}
}
