$base-color:#000000;
$body_color:#FFFFFF;
$main-color:#81B3D2;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;
$darkgrey: #81B3D2;
$lightgrey: #FFFFFF;

$input-color-bg: #f2f2f2;

$input--down: #d5d5d5;


$font-color--input: #333333;
$lightgray: #eeeeee;

$dsiabled-color: #e5e5e5;
$input--hover-bg: #e5e5e5;
$input--active-border: #e5e5e5;
$hover-color: #669ec0;
$down-color-bg: #4c94be;
$font-color-down: #88b6d1;
$color-down: #b2b2b2;

$item-down: #5496BD;
$down: rgba(255, 255, 255, 0.3);

$font-color-hover--menu: $main-color;
$font-menu-active: #766357;
$font-menu-active-hover: #604e43;
$font-menu-active-down: #d6d0cc;






